<nav class="navbar">
    <div class="navbar-left">
        <a href="../home/index.html" title="Início">
            <img src="../icons/home.svg" alt="Home">
        </a>

        <a href="../monitorias/monitorias.html" title="Monitorias">
            <img src="../icons/clipboard.svg" alt="Monitorias">
        </a>
        
        <a href="../monitorias/minhasMonitorias.html" title="minhasMonitorias" id="botaoMinhasMonitorias" hidden>
            <p>minhas</p>
            <!-- <img src="" alt="minhasMonitorias"> -->
        </a>

        <!-- <a  title="Pesquisar">
            <img src="../icons/magnifying-glass.svg" alt="Pesquisar">
        </a> -->
    </div>

    <div class="navbar-logo">
        Portal de Monitorias
    </div>

    <div class="navbar-links">
        <a href="../monitorias/monitoriasFavoritas.html" title="Favoritos">
            <img src="../icons/star.svg" alt="Favoritos">
        </a>

        <!-- <a href="../config/config.html" title="Configurações">
            <img src="../icons/gear.svg" alt="Configurações">
        </a> -->

        <div class="usuario">
            <p class="nome"></p>
            <a href="../cadastro/cadastro.html" title="Usuário">
                <img src="../icons/user.svg" alt="Usuário">
            </a>
        </div>
    </div>

</nav>