<nav class="navbar">
    <div class="navbar-left">
        <a href="../home/index.html" title="Início">
            <img src="../icons/home.svg" alt="Home">
        </a>

        <a href="../monitorias/monitorias.html" title="Monitorias">
            <img src="../icons/clipboard.svg" alt="Monitorias">
        </a>
    </div>

    <div class="navbar-logo">
        Portal de Monitorias
    </div>

    <div class="navbar-links">
        <a href="../monitorias/favoritos.html" title="Favoritos">
            <img src="../icons/star.svg" alt="Favoritos">
        </a>

        <div class="usuario">
            <p class="nome"></p>
            <a href="../cadastro/cadastro.html" title="Usuário">
                <img src="../icons/user.svg" alt="Usuário">
            </a>
        </div>
    </div>

</nav>